%div.container 
  %h1 Welcome to Blocmarks!
  %p Blocmarks is a URL bookmarking application created to allow users to organize 
  their bookmarks according to their category and share bookmarks with other users.
   

